*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav li, a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}
header{
    z-index: 1;
    width: 100%;
    position: fixed;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3vw;
    background-color: #0a3d62;
}
.logo{
    cursor: pointer;
    max-height: 60px;
    max-width: 15vw;
}

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 15px;

}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #82ccdd;
}

#section_0{
    background-color: #0a3d62;
    display: flex;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
}
#section_0 video{
    height: 100vh;
    opacity: 0.55;
    margin-top: 60px;
}

.wrapper{
    background-color: white;
}
.wrapper section{
    height: 100vh;
    margin-bottom: 30px;
    background-color: #dce1f0;
    padding: 30px;
}
#section_1{
    display: flex;
    flex-direction: column;
}

#section_1 h1{
    font-size: 66px;
    font-weight: 300;
    text-align: center;

}
#section_1 h4{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}
#section_1 p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}
#section_1 .download div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#section_1 .button-text {
    align-items: center;
    font-size: auto;
    background-color: #0a3d62;
    max-width: 300px;
    min-width: 150px;
    width: 40vw;
    border-radius: 15px;
    margin: 20px 0px;
}
#section_1 .button-text p{
    margin: 0;
    padding: 0px 0px;
    font-size: 25px;
    color: white;
}
#section_1 .button{
    max-width: 300px;
    min-width: 150px;
    width: 40vw;
}

#section_2{
 
}
#section_3{
 
}
#section_4{
 
}
#section_5{
  
}
#section_6{
 
}
#section_7{
 margin-bottom: 0px;
}

@media screen and (max-width:800px)
{
    header{
        display: none;
    }
    #section_1 .button-text p{
        font-size: 3vw;
    }
}

@media screen and (max-width:1100px)
{
    header{
        font-size: 13px;
    }
}