*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav li, a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
}
header{
    width: 100%;
    position: fixed;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1vw;
    background-color: #0c2461;
}
.logo{
    cursor: pointer;
    height: 60px;
}

.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 15px;

}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #6a89cc;
}

.wrapper section{
    height: 100vh;
}

#section_1{
 background-color: blanchedalmond;   
}
#section_2{
    background-color: rgb(93, 187, 50);   
}
#section_3{
    background-color: rgb(184, 75, 235);   
}
#section_4{
    background-color: rgb(220, 255, 66);   
}
#section_5{
    background-color: rgb(233, 64, 100);   
}
#section_6{
    background-color: rgb(255, 196, 0);   
}
#section_7{
    background-color: rgb(64, 137, 233);   
}

@media screen and (max-width:800px)
{

}